coolrc.me, www.coolrc.me {
    root /src/coolrc136.github.io
    gzip
    git {
        repo https://github.com/coolrc136/coolrc136.github.io.git
        branch master
        path /src/coolrc136.github.io
        hook /webhook password
        hook_type github
        clone_args --recursive
        pull_args --allow-unrelated-histories
        then git config --global user.name coolrc
        then git config --global user.email qq1782536964@live.com
    }
    tls qq1782536964@live.com
}

paste.coolrc.me {
    gzip
    proxy / http://privatebin
    tls qq1782536964@live.com
}

milos.coolrc.me {
    gzip
    proxy / http://milos:8080
    tls qq1782536964@live.com
}
